node_modules/
*.sqlite
.env
firebase-key.json
config/serviceAccountKey.json
app/build/
app/.dart_tool/
app/.packages
app/.pub/
app/pubspec.lock
app/android/
app/ios/
app/windows/
app/linux/
app/macos/
app/web/
app/test/
app/.idea/
app/*.iml

backend/config/serviceAccountKey.json
